@page "/"
@inject HttpClient Http

<PageTitle>Blazing Trails</PageTitle>

<h3>HomePage</h3>

@if (_trails is null)
{
    <p>Loading trails...</p>
}
else
{
    <TrailDetails Trail="_selectedTrail" />

    <TrailSearch />

    <div class="grid">
        @foreach (var trail in _trails)
        {
            <TrailCard Trail="trail" OnSelected="HandleTrailSelected"/>
        }
    </div>
}

